.content{
    display: flex;
    width: 100%;

}

.card{
    margin: 10px;
}

.description{
    margin: 5%;
    text-align: center;
}

#return{
    font-size: 4vh;
    margin: 10px;
    text-decoration: none;
}

.row{
    display: flex;
}

.card{
    
    height: 100%;
}