body{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

.float-form{
    position: fixed;
}

.main-image{
    width: 100%;
    border-radius: 4px;
}

.center{
    display: flex;
    justify-content: center;
}

.description{
    text-indent: 10%;
}

.card{
    width: 20%;
    height: 20%;
    padding: 5px;
    border: 5px;
    border-width: 1px;
    border-style:solid;
    border-radius: 4px;
    background-color:bisque;
}

.gradient{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;     
}

.main-image:hover{
    box-shadow: gray 10px 13px 10px 8px;
    transform: scale(1.5);
    transition: 0.5s;
}

.main-image:hover{}

.holder{
    margin: 10%;
}

#hidden-1{
    position: fixed;
    top: 50%;
}

#hidden-2{
    position: fixed;
    right: 10%;
    top: 50%;
}

#hidden-3{
    position: fixed;
    left: 43%;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 10px;
}

#float-button{
    position: fixed;
    right: 0px;
    border: none;
    background-color:floralwhite;
    border-radius: 9px;
    width: 130px;
    font-size: 24px;
    right: 10px;
}

#float-button:hover{
    opacity: 50%;
}

#password{
    border-radius: 9px;
    height: 30px;
    width: 150px;
    font-size: 20px;
    border: none;
    padding: 3px;
}

#url-link{
    font-size: 22px;
    text-decoration: none;
    margin-left: 15px;
}